body {
    font-family: 'Poppins', sans-serif;
}

header{
    margin-top: -17px;
}

li {
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    display: inline-block;
    padding: 15px 5px;
    font-weight: 400;
    border-bottom: 10px;
    margin: 10px;

}

li::before{
    transform: scaleX(0);
    transition: 0.25s;
}
li:hover {
    color: #007bff;
    border: solid 2px;
    border-top: 2px #007bff;
    border-right: 2px #007bff;
    border-left: 2px #007bff;
    transform: scaleX(1);
    transition: width 350ms ease-in-out;
}


#menu {
    margin-left: 17.5%;
}

#N {
    font-family: 'Poppins', sans-serif;
    margin-right: 27.5%;
    padding-top: 0.7;

    border: none;
    
}

#textoN {
    text-decoration: none;
    font-weight: 900;
    font-size: 24px;
    color: black;
}

/*Fim das edições de cabeçalho | Inicío do corpo*/
#bloco {
    position: relative;
    background-color: #77b6fe;;
    width: 55%;
    height: 75%;
    margin-left: 58.25%;
    position: fixed;
    z-index: -1;
    margin-top: -175px;
}
img {
    position: relative;
    display: inline-block;
    width: 60%;
    height: 60%;
    margin-left: 28%;
    z-index: -1;
}

#play{
    position: absolute;
    width: 20px;
    height: 15px;
    background-size: 50px;
    left: 55%;
    margin-top: -39.1%;

    border: 25px solid #fff;
    border-radius: 50px;
    
}

/*Edições de texto*/

#texto {
    font-family: 'Poppins', sans-serif;
    margin-left: 10%;
    margin-top: -35%;
}

h4 {
    color: #007bff;
    letter-spacing: 3px;
}

h1 {
    font-weight: 800;
    font-size: 4rem;
    line-height: 4.25rem;
}

span {
    color: #007bff;
}

h2 {
    font-weight: 400;
}

button {
    background: none;
    border: 0.5px solid;
    border-color: #007bff;
    color: #007bff;
    padding: 6px 16px;

    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.2rem;
}